<launch>
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="-1.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="world_name" default="$(find tv_gazebo)/worlds/tv_test.world"/>
  <!-- <arg name="world_name" value="$(find mygazebo)/worlds/house_2room.world"/> -->
  <!-- <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/> -->
  <!-- <arg name="robotName" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" /> -->
  <arg name="xacro_robotFile" default="$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>
 <!-- 如果启动了模型解析(已经得到了参数robot_description)，则可以不用再解析 -->
  <!-- <param name="robot_description" command="$(find xacro)/xacro $(arg robotFile)"/> -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model model01 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  
  
</launch>
