<launch>
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="robotName" default="turtlebot3" doc="robotName type [turtlebot3, summit_xl]"/>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="rviz_use" default="false"/>
  <arg name="move_forward_only" default="false"/>
  <!-- 使用各自的rviz配置，主要用于slam和navigation，其配置不同 -->
  <arg name="perRviz_open" default="true"/>
  <arg name="dataFusion" default="true"/> 
  <arg name="launch_slam" default="true"/> 
  <arg name="launch_movebase" default="true"/> 
   
  <arg name="cmdGUI" default="false"/>
  <arg name="rvizConfig" default="$(find turtlebot3_navigation)/rviz/t3_navigation.rviz"/>
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
  
  <arg name="robotFile" default="$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>
  <arg name="prefix" default="summit_xl_"/>
  <arg name="robot_model"  default="summit_xl_std.urdf.xacro"  doc="Different robot versions: ('')"/>
  <!-- <arg name="robotFile" default="$(find summit_xl_description)/robots/$(arg robot_model) prefix:=$(arg prefix) inorder"/> -->
  <!-- <arg name="robotFile" default="$(find summit_xl_description)/robots/summit_xl_std.urdf.xacro"/> -->
  
 


  <!-- 数据融合  -->
  <include if="$(arg dataFusion)" file="$(find turtlebot3_slam)/launch/t3_data_fusion.launch">
  </include>
  <!-- map and amcl -->
  <!-- slam -->
  <include if="$(arg launch_slam)" file="$(find turtlebot3_slam)/launch/t3_$(arg slam_methods).launch">
    <arg name="model" value="$(arg model)"/>
    <!-- <arg name="configuration_basename" value="$(arg configuration_basename)"/> -->
  </include>
  <!-- move_base -->
  <include if="$(arg launch_movebase)" file="$(find turtlebot3_navigation)/launch/t3_move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg perRviz_open)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(arg rvizConfig)"/>
  </group>

  <group if ="$(arg cmdGUI)">
    <include file="$(find tv_gui)/launch/tv_gui.launch"/>
  </group>
</launch>
